,
"${app_name}": {
        "class": "Application",
        "template": "https",
        "serviceMain": {
            "class": "Service_HTTPS",
            "virtualAddresses": ${vs_server_address},
            "virtualPort": ${vs_server_port},
            "pool": "${pool_name}"
            "serverTLS": "webtls"
        },
        "${pool_name}": {
            "class": "Pool",
            "monitors": [
                "http"
            ],
            "members": [{
                "servicePort": ${service_port},
                "serverAddresses": ${service_address},
                "shareNodes": true
            }]
        }
    }