,
"${app_name}": {
        "class": "Application",
        "template": "https",
        "serviceMain": {
            "class": "Service_HTTPS",
            "virtualAddresses": ${vs_server_address},
            "virtualPort": ${vs_server_port},
            "pool": "${pool_name}",
            "serverTLS": "${client_ssl}",
            "snat": "auto",
            "iRules": ["Maintenance_iRule"],
            "persistenceMethods": ["cookie"]
        },
        "${pool_name}": {
            "class": "Pool",
            "loadBalancingMode": "predictive-node",
            "monitors": [
                "http"
            ],
            "members": [{
                "servicePort": ${service_port},
                "serverAddresses": ${service_address},
                "shareNodes": true
            }]
        },
        "Maintenance_iRule": {
            "class": "iRule",
            "iRule": "when HTTP_REQUEST {\n   HTTP::respond 200 content {\n      <html>\n         <head>\n            <title>Blocked Page</title>\n         </head>\n         <body>\n            We are sorry, but the site you are looking for is currently under Maintenance<br>\n            If you feel you have reached this page in error, please try again. Thanks for coming\n         </body>\n      </html>\n   } noserver Cache-Control no-cache Connection Close\n}\n",
            "expand": true
        },
        "${client_ssl}": {
          "class": "TLS_Server",
          "certificates": [{
            "certificate": "${domain}"
          }]
        },
          "${domain}": {
            "class": "Certificate",
            "remark": "in practice we recommend using a passphrase",
            "certificate": "${certificate}",
            "privateKey": "${privateKey}",
            "passphrase": {
              "ciphertext": "${passphraseciphertext}",
              "protected": "${passphraseprotected}",
            }
          }
    }
    